### Look at which region the units are in for Blanche and Sam

In [1]:
%load_ext autoreload
%autoreload 2

import os
import numpy as np
import pandas as pd
import utils.behavioral_utils as behavioral_utils
import utils.information_utils as information_utils
import utils.visualization_utils as visualization_utils
import utils.pseudo_classifier_utils as pseudo_classifier_utils
import utils.classifier_utils as classifier_utils

import utils.io_utils as io_utils

import utils.glm_utils as glm_utils
from matplotlib import pyplot as plt
import matplotlib
import utils.spike_utils as spike_utils
import utils.subspace_utils as subspace_utils
from trial_splitters.condition_trial_splitter import ConditionTrialSplitter 
from utils.session_data import SessionData
from constants.behavioral_constants import *
from constants.decoding_constants import *
import seaborn as sns
from scripts.pseudo_decoding.belief_partitions.belief_partition_configs import *
import scripts.pseudo_decoding.belief_partitions.belief_partitions_io as belief_partitions_io

import scipy
import argparse
import copy
import plotly.express as px
from scripts.anova_analysis.anova_configs import *

### Load region totals

In [3]:
subject = "BL"
bl_pos = pd.read_pickle(UNITS_PATH.format(sub=subject))
bl_pos["subject"] = subject
bl_pos = bl_pos.groupby("structure_level2").PseudoUnitID.nunique().reset_index(name="BL_num_units")

subject = "SA"
sa_pos = pd.read_pickle(UNITS_PATH.format(sub=subject))
sa_pos["subject"] = subject
sa_pos = sa_pos.groupby("structure_level2").PseudoUnitID.nunique().reset_index(name="SA_num_units")

In [4]:
all_pos = pd.merge(bl_pos, sa_pos, on="structure_level2")
all_pos["min_shared"] = np.min(np.vstack((all_pos.BL_num_units, all_pos.SA_num_units)), axis=0)
all_pos["total"] = all_pos.BL_num_units + all_pos.SA_num_units

In [5]:
all_pos.style.hide(axis="index")

In [6]:
all_pos.sort_values(by="total", ascending=False)[:10].style.hide(axis="index")

In [6]:
all_pos.sort_values(by="min_shared", ascending=False)[:10].style.hide(axis="index")

### Now look at only sessions with some feat as 3 blocks

In [7]:
FEATS_PATH = "/data/patrick_res/sessions/{sub}/feats_at_least_3blocks.pickle"
bl_feats = pd.read_pickle(FEATS_PATH.format(sub="BL"))
bl_sessions = bl_feats.sessions.explode().unique()

subject = "BL"
bl_pos = pd.read_pickle(UNITS_PATH.format(sub=subject))
bl_pos["subject"] = subject
bl_feats = pd.read_pickle(FEATS_PATH.format(sub="BL"))
bl_sessions = bl_feats.sessions.explode().unique()
bl_pos = bl_pos[bl_pos.session.isin(bl_sessions)]
bl_pos = bl_pos.groupby("structure_level2").PseudoUnitID.nunique().reset_index(name="BL_num_units")

subject = "SA"
sa_pos = pd.read_pickle(UNITS_PATH.format(sub=subject))
sa_pos["subject"] = subject
sa_feats = pd.read_pickle(FEATS_PATH.format(sub="SA"))
sa_sessions = sa_feats.sessions.explode().unique()
sa_pos = sa_pos[sa_pos.session.isin(sa_sessions)]
sa_pos = sa_pos.groupby("structure_level2").PseudoUnitID.nunique().reset_index(name="SA_num_units")

all_pos = pd.merge(bl_pos, sa_pos, on="structure_level2")
all_pos["min_shared"] = np.min(np.vstack((all_pos.BL_num_units, all_pos.SA_num_units)), axis=0)
all_pos["total"] = all_pos.BL_num_units + all_pos.SA_num_units

In [8]:
all_pos.sort_values(by="total", ascending=False)[:10].style.hide(axis="index")

In [9]:
all_pos.sort_values(by="min_shared", ascending=False)[:10].style.hide(axis="index")

### For each region, what is the number of "belief partition selective" units?
- current working definition is the unit has to be selective above shuffle 95th percentile in either StimOnset or Fb onset periods

In [13]:
sig_level = "95th"

def get_sub_stats(sub, region):
    args = argparse.Namespace(
        **AnovaConfigs()._asdict()
    )
    args.conditions = ["BeliefConf", "BeliefPartition"]
    args.beh_filters = {"Response": "Correct", "Choice": "Chose"}
    args.subject = sub

    FEATS_PATH = f"/data/patrick_res/sessions/{sub}/feats_at_least_3blocks.pickle"
    feats = pd.read_pickle(FEATS_PATH)
    unit_pos = pd.read_pickle(UNITS_PATH.format(sub=sub))
    unit_pos = unit_pos[unit_pos.structure_level2 == region]

    per_feat_totals = feats.groupby("feat").apply(lambda x: unit_pos[unit_pos.session.isin(x.sessions.iloc[0])].PseudoUnitID.nunique()).reset_index(name="num_units_recorded")

    args.trial_event = "StimOnset"
    stim_res = io_utils.read_anova_good_units(args, sig_level, "BeliefPartition", return_pos=True)
    stim_res["trial_event"] = "StimOnset"

    args.trial_event = "FeedbackOnsetLong"
    fb_res = io_utils.read_anova_good_units(args, sig_level, "BeliefPartition", return_pos=True)
    fb_res["trial_event"] = "FeedbackOnsetLong"

    all_res = pd.concat((stim_res, fb_res))
    all_res["session"] = (all_res.PseudoUnitID / 100).astype(int)
    all_res = all_res[all_res.structure_level2 == region]

    per_feat_sig = all_res.groupby("feat").PseudoUnitID.nunique().reset_index(name="num_units_sig")
    per_feat_sess = all_res.groupby("feat").session.nunique().reset_index(name="num_sessions_sig")

    per_feat_units = pd.merge(per_feat_sig, per_feat_totals, on="feat", how="outer")
    per_feat_units = pd.merge(per_feat_units, per_feat_sess, on="feat", how="outer")
    per_feat_units = per_feat_units.fillna(0)
    per_feat_units[["num_units_sig", "num_units_recorded", "num_sessions_sig"]] = per_feat_units[["num_units_sig", "num_units_recorded", "num_sessions_sig"]].astype(int)
    return per_feat_units


common_regions = ["inferior_temporal_cortex (ITC)", "medial_pallium (MPal)", "basal_ganglia (BG)", "amygdala (Amy)"]
for region in common_regions:
    sa_stats = get_sub_stats("SA", region)
    bl_stats = get_sub_stats("BL", region)
    stats = pd.merge(sa_stats, bl_stats, on="feat", how="outer", suffixes=["_sa", "_bl"])
    stats["num_units_sig_total"] = stats["num_units_sig_sa"] + stats["num_units_sig_bl"]
    stats["num_sessions_sig_total"] = stats["num_sessions_sig_sa"] + stats["num_sessions_sig_bl"]

    print(region)
    display(stats.style.hide(axis="index"))

    # display(stats[["feat", "num_units_sig_sa", "num_units_sig_bl", "num_units_sig_total"]].style.hide(axis="index"))

inferior_temporal_cortex (ITC)

medial_pallium (MPal)

basal_ganglia (BG)

amygdala (Amy)

### What if using a different version of significance?
- for some feat, unit has to be above 95 percentile for both belief pref, belief conf at some time points.

In [14]:
sig_level = "95th"

def get_sub_stats(sub, region):
    args = argparse.Namespace(
        **AnovaConfigs()._asdict()
    )
    args.conditions = ["BeliefConf", "BeliefPartition"]
    args.beh_filters = {"Response": "Correct", "Choice": "Chose"}
    args.subject = sub
    args.window_size = 500

    FEATS_PATH = f"/data/patrick_res/sessions/{sub}/feats_at_least_3blocks.pickle"
    feats = pd.read_pickle(FEATS_PATH)
    unit_pos = pd.read_pickle(UNITS_PATH.format(sub=sub))
    unit_pos = unit_pos[unit_pos.structure_level2 == region]

    per_feat_totals = feats.groupby("feat").apply(lambda x: unit_pos[unit_pos.session.isin(x.sessions.iloc[0])].PseudoUnitID.nunique()).reset_index(name="num_units_recorded")

    _, _, pref_res = io_utils.read_anova_res_all_time(args, sig_level, "BeliefPref", read_shuffle=True)
    pref_sig_units = pref_res[["feat", "PseudoUnitID", "structure_level2"]]

    _, _, conf_res = io_utils.read_anova_res_all_time(args, sig_level, "BeliefConf", read_shuffle=True)
    conf_sig_units = conf_res[["feat", "PseudoUnitID", "structure_level2"]]

    sig_units = pd.merge(pref_sig_units, conf_sig_units, on=["feat", "PseudoUnitID", "structure_level2"])
    sig_units["session"] = (sig_units.PseudoUnitID / 100).astype(int)
    sig_units = sig_units[sig_units.structure_level2 == region]

    per_feat_sig = sig_units.groupby("feat").PseudoUnitID.nunique().reset_index(name="num_units_sig")
    per_feat_sess = sig_units.groupby("feat").session.nunique().reset_index(name="num_sessions_sig")

    per_feat_units = pd.merge(per_feat_sig, per_feat_totals, on="feat", how="outer")
    per_feat_units = pd.merge(per_feat_units, per_feat_sess, on="feat", how="outer")
    per_feat_units = per_feat_units.fillna(0)
    per_feat_units[["num_units_sig", "num_units_recorded", "num_sessions_sig"]] = per_feat_units[["num_units_sig", "num_units_recorded", "num_sessions_sig"]].astype(int)
    return per_feat_units


common_regions = ["inferior_temporal_cortex (ITC)", "medial_pallium (MPal)", "basal_ganglia (BG)", "amygdala (Amy)"]
for region in common_regions:
    sa_stats = get_sub_stats("SA", region)
    bl_stats = get_sub_stats("BL", region)
    stats = pd.merge(sa_stats, bl_stats, on="feat", how="outer", suffixes=["_sa", "_bl"])
    stats["num_units_sig_total"] = stats["num_units_sig_sa"] + stats["num_units_sig_bl"]
    stats["num_sessions_sig_total"] = stats["num_sessions_sig_sa"] + stats["num_sessions_sig_bl"]

    print(region)
    display(stats.style.hide(axis="index"))

inferior_temporal_cortex (ITC)

medial_pallium (MPal)

basal_ganglia (BG)

amygdala (Amy)

### What if units that are selective for either pref or conf at any time points?

In [10]:
sig_level = "99th"

def get_sub_stats(sub, region):
    args = argparse.Namespace(
        **AnovaConfigs()._asdict()
    )
    args.conditions = ["BeliefConf", "BeliefPartition"]
    args.beh_filters = {"Response": "Correct", "Choice": "Chose"}
    args.subject = sub
    args.window_size = 500

    FEATS_PATH = f"/data/patrick_res/sessions/{sub}/feats_at_least_3blocks.pickle"
    feats = pd.read_pickle(FEATS_PATH)
    unit_pos = pd.read_pickle(UNITS_PATH.format(sub=sub))
    unit_pos = unit_pos[unit_pos.structure_level2 == region]

    per_feat_totals = feats.groupby("feat").apply(lambda x: unit_pos[unit_pos.session.isin(x.sessions.iloc[0])].PseudoUnitID.nunique()).reset_index(name="num_units_recorded")

    _, _, pref_res = io_utils.read_anova_res_all_time(args, sig_level, "BeliefPref", read_shuffle=True)
    pref_sig_units = pref_res[["feat", "PseudoUnitID", "structure_level2"]]

    _, _, conf_res = io_utils.read_anova_res_all_time(args, sig_level, "BeliefConf", read_shuffle=True)
    conf_sig_units = conf_res[["feat", "PseudoUnitID", "structure_level2"]]

    sig_units = pd.concat((conf_sig_units, pref_sig_units))
    sig_units["session"] = (sig_units.PseudoUnitID / 100).astype(int)
    sig_units = sig_units[sig_units.structure_level2 == region]

    per_feat_sig = sig_units.groupby("feat").PseudoUnitID.nunique().reset_index(name="num_units_sig")
    per_feat_sess = sig_units.groupby("feat").session.nunique().reset_index(name="num_sessions_sig")

    per_feat_units = pd.merge(per_feat_sig, per_feat_totals, on="feat", how="outer")
    per_feat_units = pd.merge(per_feat_units, per_feat_sess, on="feat", how="outer")
    per_feat_units = per_feat_units.fillna(0)
    per_feat_units[["num_units_sig", "num_units_recorded", "num_sessions_sig"]] = per_feat_units[["num_units_sig", "num_units_recorded", "num_sessions_sig"]].astype(int)
    return per_feat_units


common_regions = ["inferior_temporal_cortex (ITC)", "medial_pallium (MPal)", "basal_ganglia (BG)", "amygdala (Amy)"]
for region in common_regions:
    sa_stats = get_sub_stats("SA", region)
    bl_stats = get_sub_stats("BL", region)
    stats = pd.merge(sa_stats, bl_stats, on="feat", how="outer", suffixes=["_sa", "_bl"])
    stats["num_units_sig_total"] = stats["num_units_sig_sa"] + stats["num_units_sig_bl"]
    stats["num_sessions_sig_total"] = stats["num_sessions_sig_sa"] + stats["num_sessions_sig_bl"]

    print(region)
    display(stats.style.hide(axis="index"))

inferior_temporal_cortex (ITC)

medial_pallium (MPal)

basal_ganglia (BG)

amygdala (Amy)

### Check one thing: is there ever overlap between PseudoUnitIDs for Sam and Blanche? No. We are safe

In [2]:
subject = "BL"
bl_pos = pd.read_pickle(UNITS_PATH.format(sub=subject))

subject = "SA"
sa_pos = pd.read_pickle(UNITS_PATH.format(sub=subject))

In [5]:
sa_pos.session.unique()

array(['20180709', '20180920', '20180918', '20180912', '20181008',
       '20181002', '20180625', '20180806', '20180906', '20180801',
       '20180622', '20181005', '20180820', '201807250001', '20180911',
       '20181001', '20180802', '20180808', '20180905', '20180830',
       '20180924', '20180829', '20180813', '20180926', '20180821',
       '20180705', '20180907', '20181004', '20181003', '20181009',
       '20181010', '20180921', '20180919', '20180810', '20180917',
       '20180822', '20180925', '20180828', '20180904', '20180803',
       '20180615', '20180712', '20180928', '20180817', '20180910'],
      dtype=object)

In [6]:
bl_pos.session.unique()

array(['20190823', '20190531', '20190329', '20190816', '20190201',
       '20190220', '20190123', '20190312', '20190625', '20190215',
       '20190124', '20190710', '20190227', '20190617', '20190815',
       '20190604', '20190709', '20190703', '20190606', '20190627',
       '20190524', '20190225', '20190228', '20190529', '20190904',
       '20190530', '20190814', '20190207', '20190702', '20190605',
       '20190708', '20190313', '20190125', '20190226', '20190221',
       '20190128'], dtype=object)